<section class="my-24 sm:my-40 flex flex-col items-center">

    <div class="p-4 w-full max-w-xl">
        <h5>Create Post</h5>
        <form class="mt-3 flex flex-col gap-y-5" [formGroup]="createPostForm" (submit)="onSubmit()">
            <stackbuld-input type="text" label="tag" [showLable]="true" placeholder="post tag" formControlName="tags" />
            <stackbuld-input type="url" label="image url" [showLable]="true" placeholder="post image url"
                formControlName="image" />
            <textarea class="w-full h-28 p-3" name="text" id="" cols="20" placeholder="post body" formControlName="text"></textarea>
            @if (formText?.invalid && formText?.dirty) {
            <stackbuld-error message="this field is required and should be 6-50 characters" />
            }
            
            @if ((blogsAll$|async)?.status === 'error') {
            <stackbuld-error [message]="(blogsAll$|async)?.message" />
            }
            
            <stackbuld-button class="w-3/5" type="submit" text="Post comment" [loading]="(blogsAll$|async)?.status === 'loading'"
                [disabled]="createPostForm.invalid" />
        </form>
    </div>

</section>