<nav class="bg-white/80 p-3 flex justify-center backdrop:blur-md shadow">

    <section class="flex items-center justify-between w-full max-w-6xl">

        <div>
            <img class="w-44" src="assets/stackbuld-logo.webp" width="180" />
        </div>

        <div class="flex items-center gap-x-5">

            <div>
                <a class="no-underline" routerLink="">Home</a>
            </div>
            <div class="relative group">
                <span class="block cursor-pointer">Tags</span>

                <section
                    class="invisible opacity-0 group-hover:visible group-hover:opacity-100 absolute transition-all duration-200 ease-linear">
                    <div class="bg-white flex flex-col gap-y-2 mt-7 p-4 min-w-36 shadow">
                        <a class="block cursor-pointer" href="">Cats</a>
                        <a class="block cursor-pointer" href="">Dogs</a>
                        <a class="block cursor-pointer" href="">Money</a>
                    </div>
                </section>
            </div>
            <div>
                <a class="no-underline" routerLink="">About</a>
            </div>
            <div>
                <a class="no-underline" routerLink="">Contact</a>
            </div>

        </div>

    </section>

</nav>