<nav class="hidden sm:flex justify-center fixed top-0 z-50 w-full backdrop-blur bg-white/80 p-3 shadow">

    <section class="flex items-center justify-between w-full max-w-6xl">

        <div>
            <img class="w-44" src="assets/stackbuld-logo.webp" width="180" routerLink="/" />
        </div>

        <div class="flex items-center gap-x-5">

            <div>
                <a class="no-underline" routerLink="/" routerLinkActive="/">Home</a>
            </div>
            
            <div>
                <a class="no-underline" routerLink="/blog/add-blog">Add Blog</a>
            </div>

        </div>

    </section>

</nav>
<!-- Mobile navigation -->

<nav class="fixed top-0 z-50 w-full flex justify-between backdrop-blur bg-gray-20/80 px-4 py-3 shadow sm:hidden">

    <section class="flex items-center justify-between w-full max-w-6xl">

        <div>
            <img class="w-32" src="assets/stackbuld-logo.webp" width="120" routerLink="/" />
        </div>

        <div>

            <div (click)="menuOpen.set(!menuOpen())">
                <fa-icon [icon]="faBars()" />
            </div>

        </div>

    </section>


    @if(menuOpen()){
    <section
        class="absolute inset-0 top-14 w-full shadow">

        <div class="flex flex-col gap-y-2 backdrop-blur bg-white p-4">

            <div routerLink="/">
                <a class="no-underline">Home</a>
            </div>
            
            <div routerLink="/blog/add-blog">
                <a class="no-underline">Add Blog</a>
            </div>

        </div>

    </section>
    }

</nav>