<section class="my-24 sm:my-40 flex flex-col gap-y-10 items-center">

    <section class="flex justify-center pb-10 w-72 sm:max-w-xl sm:w-full border-b border-solid border-gray-100">
        <stackbuld-input class="w-full" type="search" label="search" [showLable]="false" [showPlacehoder]="false"
            placeholder="Search blog" [formControl]="searchBlog" />
    </section>

    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    
        @for (blogPost of blogs| paginate: { itemsPerPage: 9, currentPage: p, totalItems: blogs.length}; track $index) {
        <app-blog-card [data]="blogPost" [routerLink]="['.', '1']" [relativeTo]="route" />
        }
        
        </section>

    <section>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </section>

</section>