// variables
@import "./variable.scss";

// start tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// end tailwind

//  Reset CSS
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

// end Reset

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  color: var(--stackbuld-global-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lexend";
    overflow-wrap: break-word;
    font-weight: 600;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p {
    overflow-wrap: break-word;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    width: 100%;
  }

  input,
  button,
  textarea,
  select {
    width: 100%;
    border: 1px solid var(--stackbuld-form-border);
  }

  a {
    color: var(--stackbuld-primary);
    font-weight: 500;
  }
}